* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #ececec;
  color: #3c3c3c;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
}

p {
  margin: 0;
}

p + p {
  margin-top: 16px;
}

hr {
  margin: 24px 0;
  border: 0;
  border-top: 1px solid #d4d4d4;
}

ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.app-contents {
  max-width: 640px;
}

.mouse-intent [role='button']:focus,
.mouse-intent [tabindex]:focus,
.mouse-intent button:focus {
  outline: none;
}
